
blas
ca-certificates
certifi
freetype
jpeg
lcms2
libffi
libpng
libtiff
libuv
libwebp-base
lz4-c
ncurses
ninja
olefile
openjpeg
openssl
pillow
readline
setuptools
six
sqlite
tk
typing_extensions
wheel
xz
zlib
zstd